[submodule "Flutter-nRF-Connect-Device-Manager"]
	path = Flutter-nRF-Connect-Device-Manager
	url = https://github.com/ZSWatch/Flutter-nRF-Connect-Device-Manager.git
[submodule "third_party/fllama"]
	path = third_party/fllama
	url = git@github.com:ZSWatch/fllama.git
